@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&subset=cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400&subset=cyrillic');
body {
  font-family: "Roboto", sans-serif;
}
#header{
  background: #fff;
  padding: 10px;
  .logotype {
    display: block;
    float: left;
  }
  h1 {
    margin-top: 0;
    padding-left: 58px ;
    font-weight: 100;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
  }

  h5 {
  }

  .phone {
    a {
      color: #0f0f0f;
      text-decoration: none;
      display: inline-block;

      -webkit-transition: all 300ms cubic-bezier(0.34, 1.84, 0.65,-0.62);
      -moz-transition: all 300ms cubic-bezier(0.34, 1.84, 0.65,-0.62);
      -ms-transition: all 300ms cubic-bezier(0.34, 1.84, 0.65,-0.62);
      -o-transition: all 300ms cubic-bezier(0.34, 1.84, 0.65,-0.62);
      transition: all 300ms cubic-bezier(0.34, 1.84, 0.65,-0.62);

      &:hover {
        color:orangered;

        -moz-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -o-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);


      }
    }
  }

}
.first-block {
  background: greenyellow;
  height: 80vh;
}
